* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: left;
  background: linear-gradient(
    to top right,
    rgb(201, 125, 245),
    rgb(252, 68, 154, 0.288)
  );
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  color: black;
}
