/* * {
  box-sizing: border-box;
} */

/* body {
  height: 100vh;
  background: linear-gradient(
    to top left,
    rgb(182, 228, 255),
    rgb(190, 70, 146)
  );
  display: flex;
  align-items: center;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #2c3e50;
  font-size: 36px;
}

h2 a {
  color: #2980b9;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}
