* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    to top left,
    rgb(182, 228, 255),
    rgb(190, 70, 146)
  );
  display: flex;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  color: black;
}
