* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 20px;
  background: linear-gradient(
    to top left,
    rgb(105, 150, 201),
    rgb(207, 91, 159)
  );
}

.main {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: black;
  font-size: 36px;
}

h2 a {
  color: rgb(79, 51, 202);
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}
